html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

div.images,
div.locations {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

div.images figure img {
    max-height: 200px;
    max-width: 300px;
}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: seashell 1px solid;
    background-color: black;
    top: 0;
}

nav {
    align-items: right;
    align-content: right;
    justify-content: right;
    flex-direction: row;
    display: inline-flex;
}

header img {
    height: 50px;
    align-content: left;
    justify-content: left;
    align-items: left;
    vertical-align: middle;
}