
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

div.images, div.container {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

div.images figure img {
    max-height: 200px;
    max-width: 300px;
}