* {
    border: 1px solid white;
    margin: 0;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: seashell 1px solid;
    background-color: black;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 50px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 10px;
    color: seashell; 
}



main {
    margin-top: 69px;
}

div.images,
div.locations {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

div.images figure img {
    max-height: 200px;
    max-width: 300px;
}

/*
#mission {
    background-image: url('./resources/images/img-mission-background.jpg');
    height: 700px;
}
*/
